html	
{
	font-family: "Garamond", serif;
}
header	
{
	text-align: center;
}
footer	
{
	text-align: center;
}

h1
{
	font-family: "Roboto Slab", serif;
}
@font-face	{
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	font-weight: 400;
	src: url("https://fonts.googleapis.com/css?family=Roboto+Slab");
}

