html	
{
	font-family: "Garamond", serif;
}
body	
{
	text-align:center;
	background-color: #f2ffe6;
}
table, th, td	
{
	border: 1px solid black;
	border-spacing: 0px;
	background-color: #DEDBEF;
}
p	
{
	text-align: left;
}
