html	
{
	font-family: "Garamond", serif;
	width: 100%;
}
body
{
	width: 100%;
}
a:visited	{
	color: #BADBAD;
}
a:hover	{
	font-weight: bold;
}
a:active	{
	text-decoration: none;
}
header	
{
	text-align: center;
}
footer	
{
	text-align: center;
}
